<div class="intro-container">
  <div class="about-image">
    <img src="/assets/images/cindy-bliss.jpg">
  </div>

  <div class="about-content">
    <p>

    <h4>About The Owner</h4>

    Cindy Jones has spent the past 39 years in pet related businesses including several pet salons, dog training
    specializing in behavior modification, and pet rescue and non-profit. She has also been breeding champion Akita's for
    the past of 30 years. Cindy holds a Bachelor degree in psychology (emphasis in animal behavior) as well as a masters
    degree in educational counseling. My passion is helping pets by educating pet parents regarding health and nutrition,
    training and well being of canines. Below are images that show some of our work!
    </p>
  </div>
</div>
