<div>
  <header class="logo">
    <div class="header-contact">
    <div>
      Call: 775-356-8111
    </div>
     <div>
       Hours: Tuesday through Saturday, 8:30 AM - 4:00 PM (By Appointment)
     </div>
    <div>
      Address: 1343 Baring Blvd, Sparks, NV 89434
    </div>
    </div>
    <div>
    <img src="/assets/images/DawgWashLogo.png">
    </div>
  </header>
  <nav>
    <ul>
      <li><a href="">About</a></li>
      <li>{{#link-to 'services'}}Services{{/link-to}}</li>
      <li><a href="">Contact</a></li>
      <li><a href="">Specials</a></li>
      <li><a href="">Faq's</a></li>
    </ul>
  </nav>
</div>

{{outlet}}