<div class="contact-container">
  <h4>Hours of Operation</h4>
  <p>The Dawg Wash is open Tuesday through Saturday, 8:30 AM - 4:00 PM</p>
  <p>For the Self-Wash service, come in anytime before 2:00 PM</p>
  <br>
  <br>
  <h4>Location Map</h4>
  <p>
    The Dawg Wash is located in the Baring Village Shopping Center at 1343 Baring Blvd, Sparks, NV 89434. For directions,
    please click on the map.
  </p>
  <div>
    <a href="http://maps.google.com/maps?q=1343+BaringBlvd,+Sparks,+NV+89434">
    <img src="/assets/images/dawgWashMap.png"></a>
  </div>
</div>