<div class="faq-container">
    <section>
      <h4>Do I need to make an appointment at The Dawg Wash?</h4>
      <p>Please do! We will do our best to accommodate same day or walk-ins depending on our availability.  If you need
        to cancel your appointment, a 24-hour notice is appreciated.</p>
    </section>

    <section>
      <h4>At what age should my new puppy start coming to The Dawg Wash?</h4>
      <p>As soon as your puppy is current on all initial vaccinations, at approximately 4 months of age.  Starting at a
        young age will acclimate your puppy to the grooming process and make it a pleasurable experience. This will
        enhance good social skills.</p>
    </section>

    <section>
      <h4>How often should my pet be groomed?</h4>
      <p>Once we groom your pet, we will recommend a grooming schedule best suited for your pet, keeping your goals in
        mind. Typically, we like to see pets every 4 to 12 weeks to keep the coat and skin healthy and your pet happy!</p>
    </section>

    <section>
      <h4>Do you recommend a "Wellness Program?"</h4>
      <p>Frequent and consistent grooming will keep your pet feeling and looking his best. Skin and health conditions are
        often noticed during the grooming process. We are trained, experienced, caring Pet Professionals that want the
        best for all pets. Matted, neglected coats can be very uncomfortable and painful.  Because we look closely at
        their ears, eyes, and  teeth for example, we are likely to discover a health concern (ear infections can go
        unrecognized for months)!  Frequent, professional grooming will especially reduce shedding to combat  seasonal
        and  hormonal changes.</p>
    </section>

    <section>
      <h4>Do I need an appointment to cut my dogs nails?</h4>
      <p>No, nails can be clipped on a walk-in basis.  Frequent nail clipping by your groomer (monthly) will help
        lessen the chance of arthritis. Otherwise, dogs may walk on the sides of their pads. Nail grinding can also
        shorten the nails and make the edges smoother.  This is great for dogs that walk on hardwood floors, and especially
        helpful for older pets that do not wear them down naturally.</p>
    </section>

    <section>
      <h4>Why is ear cleaning so important?</h4>
      <p>Ear infections are very common, yet most pet owners are unaware of this painful condition. A professional groomer
        is trained to clean ears properly. If a suspected ear infection is noticed, we will inform you so your veterinarian
        can properly diagnose and dispense medication.</p>
    </section>

    <section>
      <h4>How do I manage the my dogs "eye sores"?</h4>
      <p>Crusts in the corner of the eyes may be painful. These sores will be safely removed and cleaned by your professional
        groomer and can heal once removed during the grooming process.</p>
    </section>

    <section>
      <h4>Why do you express glands?</h4>
      <p>Gland expression by your experienced and trained professional groomer will help prevent impaction, infections and
        abscesses. If we notice a concern, we will advise you to contact your veterinarian. If you notice your pet
        "scooting" it may be time to bring your pet in.</p>
    </section>

    <section>
      <h4>What about teeth brushing?</h4>
      <p>Keeping up with your pets oral hygiene at home daily can keep them healthier and prolong their lifespan. We can
        add teeth brushing, however, it does not replace regular dentals and visits to your veterinarian.</p>
    </section>

    <section>
      <h4>Why should my pet be groomed during the winter? Doesn't he need his coat to grow long to keep him warm?</h4>
      <p>The Dawg Wash can accommodate your needs by trimming in a style that is longer with regular scheduled visits to
        keep the coat healthy and matt free.</p>
    </section>

</div>
