<div class="wrapper">
<div class="container">
  <div class="intro-container">

    <div class="intro-content">
      <p><i>
        Welcome to The Dawg Wash!
      </i>
      </p>
      <br>
      <p>
        We are a locally owned and operated salon that has been servicing the Reno-Sparks area for more than 15 years.
        We offer a variety of services to fit anyones needs, including full service grooms and a self-serve option.
        We pride ourselves on our quality of work and vast knowledge of pets.
      </p>
    </div>
    <div class="month-specials">
      <p><i>
        This Month's Special!
      </i>
      </p>
      <br>
      <p>
        $5.00 off your first full groom. When making your first appointment, please mention this site and coupon.
      </p>
    </div>
  </div>
</div>
</div>

