<div class="intro-container">
  <div>
    <div class="intro-image intro-image-1"><img src="/assets/images/bigstock-Cute-dog-at-groomer-salon-133952900.jpg"></div>
    <div class="intro-image intro-image-2"><img src="/assets/images/bigstock-tiny-chihuahua-in-a-small-meta-19386536.jpg"></div>
  </div>
  <div>
  <p>
    Welcome to The Dawg Wash!

    Thank you for stopping by and checking out our new site. We are a locally owned and operated salon
    that has been servicing the Reno-Sparks area for more than 15 years. We offer a variety of services
    to fit anyones needs, including full service grooms and a self-serve option. We pride ourselves on
    our quality of work and vast knowledge of pets.
  </p>
  </div>
</div>