<div class="service-container">
  <section>
    <h4>Full Service Groom</h4>

  <p>
    Includes a lavish, warm water bubble bath with the highest quality shampoo and conditioner. Also includes a fluff dry,
    while we brush and comb through any tangles. Your pet's "haircut" (custom, breed specific or shave) will also include
    nail trim, gland expression, ear cleaning, and gentle clipping of the sanitary area. We end with a precision scissor
    finish, splash of cologne, and a hand-made bow or bandana and a biscuit.
  </p>
  </section>

  <section>
    <h4>Bath'n Tidy</h4>

  <p>
    This service is best suited in between full service grooms to keep your pet fresh and tidied up. It includes bath and
    fluff dry. We brush and comb out the coat. It includes a nail trim, tidy up of paw pads, clipping between the eyes
    (if necessary) and ear cleaning. We finish with a splash of cologne.
  </p>
  </section>

  <section>
    <h4>Bath Only</h4>

  <p>
    A warm bubble bath, a conditioner to help with shedding, hand blow dry, glands, nail trim and ear cleaning. You can
    add on a "Blueberry Spa Package" for an additional $10. This service is great for short coated breeds that do not
    require a hair cut or any trimming on the body.
  </p>
  </section>

  <section>
    <h4>Blueberry Spa Package</h4>

  <p>
    Does your pet need a little extra pampering? Try our Blueberry Facial and massage that is relaxing to your pet
    (and groomer), while brightening and enhancing the color on your pets face. We add a Blueberry Clove Conditioner
    and Blueberry Clove Cologne for a long lasting, great smelling pet! We also add either a teeth brushing or a nail
    filing per your request. Clients rave about this spa package!
  </p>
  </section>

  <section>
    <h4>Express Groom</h4>

  <p>
    Our speediest groom for your pet without interruption (must request at the time of booking). Fee: $15
  </p>
  </section>

  <section>
    <h4>Comfort Groom</h4>

  <p>
    For our respected senior pets with specific health concerns. Nervous or pets that may bite will benefit. We aim for
    the basic essentials while monitoring for signs of stress and or pain. This will ensure a safe and pleasurable
    experience for your pet.
  </p>
  </section>

  <section>
    <h4>Self Service</h4>

  <p>
    Come in anytime before 2:00 PM without an appointment and wash your pet yourself! We include shampoo, conditioner,
    smock, and a towel. A blow dryer is at the tub and available for your use. Prices are based on size of your pet ranging
    from $15 to $25 (for the gigantic, hairy breeds).
  </p>
  </section>

  <section>
    <h4>Additional Fees</h4>
    <ul>
      <li>Nail Clip and Filing: $15 as a walk in service or by appointment</li>
      <li> Gland Expression: $10 as a walk in service or by appointment</li>
      <li>Special Shampoo (Medicated, Oatmeal, Hypo-Allergenic, Whitening) $5 as an add on</li>
      <li>De Shed: $10- $40 (based on severity of coat condition)</li>
      <li>De-Matting: $10 for every 15 minutes</li>
      <li>Paw Pad Clean-up: $10 as a walk in service or by appointment</li>
      <li>Sanitary Clean-up: $10 as a walk in service or by appointment</li>
      <li>Special Handling Fee: $10 for dogs that require additional staff to help complete the grooming</li>
    </ul>
  </section>
</div>